.chat {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #ddd;
  height: 100vh;
}

.chatMessages {
  height: 85vh;
  overflow-y: auto;
}

.chatInput {
  display: flex;
  margin-top: 20px;
}

.inputField {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  color:black;
}

.sendButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.recent_chats {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
  color: #fff;
}

.recent_chats li {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.recent_chats li:hover {
  background-color: #444;
}






