.chat {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #ddd;
  height: 100vh;
}

.chatHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chatMessages {
  height: 70vh;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
}

.chatInput {
  display: flex;
  margin-top: 20px;
}

.inputField {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  color:black;
}

.sendButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
